<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Themepark Tickets</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Welcome to Berties Themepark!</h1>
        <% if (!user) { %>
            <nav>
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            </nav>
        <% } else { %>
            <nav>
                <a href="/dashboard">My Tickets</a>
                <a href="/logout">Logout</a>
            </nav>
        <% } %>
    </header>

    <main>
        <h2>Rides</h2>

        <% if (rides.length > 0) { %>
            <% for (let i = 0; i < rides.length; ++i) { %>
                <section class="ride-card">
                    <img src="" alt="<%= rides[i].name %> Image">
                    <h3><%= rides[i].name%></h3>
                    <p>
                        Fast-Track Price:
                        <%= Number(rides[i].cost).toLocaleString("en", {
                            style: 'currency',
                            currency: 'GBP'
                        }) %>
                    </p>
                </section>
            <% } %>
        <% } else { %>
            <p>No rides found</p>
        <% } %>
    </main>

    <footer>
        <p>This is a placeholder</p>
    </footer>
    
</body>
</html>