<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Themepark Tickets</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Welcome to Berties Themepark!</h1>
        <nav>
            <a href="/sign-up">Register</a>
            <a href="/sign-in">Login</a>
        </nav>
    </header>

    <main>

        <h2>Sign In</h2>

        <form action="/sign-up" method="POST">
            <label>Email:
                <input type="email" name="email" required>
            </label><br>

            <label>Password:
                <input type="password" name="password" required>
            </label><br>

            <button type="submit">Sign Up</button>
        </form>
    </main>

    <footer>
        <p>This is a placeholder</p>
    </footer>
    
</body>
</html>