<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Themepark Tickets</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Welcome to Berties Themepark!</h1>
        <nav>
            <a href="/sign-up">Register</a>
            <a href="/sign-in">Login</a>
        </nav>
    </header>

    <main>

        <h2>Sign In</h2>

        <form id="user-form">
            <label>Email: 
                <input type="email" name="email" required>
            </label><br>

            <label>Password: 
                <input type="password" name="password" required>
            </label><br>

            <button type="submit" id="submit-button" disabled>Sign Up</button>
        </form>

        <div id="error" style="color: red; margin-top: 1em;"></div>
    </main>

    <footer>
        <p>This is a placeholder</p>
    </footer>

    <script type="module" src="/js/sign-up-script.js"></script>
    
</body>
</html>